<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

          <button mat-flat-button color="primary" (click)="startRecognition()" >Start</button>
          <button mat-flat-button color="accent"  (click)="stopRecognition()">Detener</button>
          <mat-form-field>
            <textarea matInput class="w-full h-400" [(ngModel)]="transcript" placeholder="Transcript"></textarea>
          </mat-form-field>
          <!-- <ng-container *ngIf="wordList$ | async as wordList">
              <p *ngFor="let word of wordList">{{ word.transcript }}, confidence: {{ word.confidencePercentage }}%
              </p>
          </ng-container> -->
        </div>

    </div>

</div>
